{{#if title}}

    <a href="/post/{{id}}">
        <div class="card">
            <h5 class="card-header">{{user.username}}</h5>
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>


                <p class="card-text">
                    {{post_body}}
                </p>
                        </div>



            <div class="card-footer">
                <small class="text-muted"> 
                    {{created_at}}
                <div>{{comments.length}} Comment(s)</div> </small>
                {{!-- <button id="delete-button">Delete</button> --}}
            </div>
        </div>
    

{{/if}}