
<div class="featured-user">
    <a href="/post/user/page/{{username}}"> {{username}}
    {{#if user_image_path}} 
        <img class= "image-profile" src="{{user_image_path}}" alt="">
<<<<<<< HEAD
=======
        {{else}}
    <img class="image-profile" src="/db_images/Default_img.png" alt="{{user.username}} Picture">
>>>>>>> cb08d9bc92d6902bb1bf5132e0d14cde19a8369c
    {{/if}}
    </a> 
</div>
