{{#if title}}


<article class="post container">
    <a href="/post/{{id}}">
        <div class="card">
        <h5 class="card-header">{{user.username}}</h5>
        <div id="card-text" class="card-body" data-id="{{id}}">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">
                {{post_body}}
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">posted by {{user.username}} on
                {{created_at}}
                |
                <div>{{comments.length}} comment(s)</div></small>
        </div>
         <button class="userBtn" id="delete-button">Delete</button>
    </div>
    </a>

</article>
<script src="/javascript/delete-post.js"></script>
{{/if}}