<a href="/post/{{id}}">
    <article class="post hover">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>

                <p class="card-text">
                    {{post_body}}
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    {{created_at}}
                    <div>{{comments.length}} comment(s)</div></small>
            </div>
        </div>
    </article>
</a>