{{#if title}}


<article class="post">
    <div class="card">
        <h5 class="card-header">{{user.username}}</h5>
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
        <img src="localhost:3001/{{image_path}}" alt="yeet">

            <p class="card-text">
                {{post_body}}
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">posted by {{user.username}} on
                {{created_at}}
                |
                <a href="/post/{{id}}">{{comments.length}} comment(s)</a></small>
        </div>
    </div>

</article>
{{/if}}