{{#if title}}
<article class="post article-container">
    <div class="title">
        <p> {{title}}</p>
        <p>
            {{post_body}}
        </p>

    </div>
    <div class="meta">
        posted by {{user.username}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
    </div>
</article>
{{/if}}