
<h1>{{user_image_path}}</h1>
{{!-- Section for listing channels --}}
<section class="channel container">
    <h2>Friends {{loggedUsername}}</h2>
    {{#if loggedIn}}
    <div class="featured-user">
    
        {{loggedUsername}}
        {{#each users as |user|}}
        {{{loggedUsername}}}
                <a href="/post/user/page/{{username}}"> {{username}} </a> 
        {{/each}}
    </div>
    {{else}}
        {{#each users as |user|}}
        {{> featured-user}}
        {{/each}}
    {{/if}}


       
</section>
{{!-- renders users post> --}}
{{#if loggedIn}}
<section>
    <div>
        <ol>
            {{#each posts as |post|}}
            {{> users-display-post posts}}
            {{/each}}
        </ol>
    </div>
</section>
{{/if}}

{{!-- Section for categories --}}
{{> categories-list}}
{{!-- make delete functionality go here as well --}}

<script src="/javascript/utils/carousel.js"></script>